HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

# Preview
PREVIEW_SECRET=your-secret-key
CLIENT_URL=http://localhost:3000

# mysql
DATABASE_CLIENT=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=tournament_manager
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_SCHEMA=public
DATABASE_SSL=false

# Payments
PAYMENT_BKASH_NUMBER=01XXXXXXXXX
PAYMENT_NAGAD_NUMBER=01XXXXXXXXX
PAYMENT_ROCKET_NUMBER=01XXXXXXXXX
